<!DOCTYPE html>
<html>
<head>
<title>LSTM Model</title>
</head>
<body>

<h1>This is my LSTM Model coded using keras and pyhton</h1>
<p>This model predicts future stock prices based on input from the user such as chooosing the stock, exchange, and days to predict.</p>
<form method="POST">
  Exchange (usually wiki): <input type="text" name="exchange"><br>
  Stock symbol: <input type="text" name="stock"><br>
  Days to Predict <input type="text" name="days"><br>
    <input type="submit">
</form>
<form action= "/" >
        <input type= "submit" value= "Go home"/>
</form>
</body>
</html>
