<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
  <title>Prophet Predictions</title>
  </head>
<center>
<body background=https://c.pxhere.com/photos/53/83/newspaper_stocks_stock_price_pen_newspapers_stock_market-669878.jpg!d>
    <h1>Prophet Model Predictions</h1>

  <img src= "/static/images/prophet.png">
</form>
</center>
<form action= "/" >
        <input type= "submit" value= "Go home"/>
</form>
  </body>
<center>
<footer> Created by: Seth Hillis | <a href="https://github.com/shillis17/Stock_Market_Predictors">About</a> | <a href="https://www.linkedin.com/in/sethhillis/">Contact Me</a>
</footer>
</center>
</html>
